<div id="<%= dom_id actor_anthology %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= actor_anthology.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Picture url:</strong>
    <%= actor_anthology.picture_url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this actor anthology", actor_anthology, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this actor anthology', edit_actor_anthology_path(actor_anthology), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
